# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/npm-debug.log

# Editor/IDE
.idea/
frontend/.idea/
.vscode/

# Git
.git/
.gitignore

# Log / test / cache
*.log
coverage/
.cache/
store.json

# Sistema operativo
.DS_Store
Thumbs.db
