# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Frontend / Node
node_modules/
frontend/node_modules/
frontend/dist/

# Docker
*.log
.env

# IDE
.idea/
frontend/.idea/
*.iml
.vscode/
*service-account.json
